nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 70px;
  background-color: var(--app-color);
  flex-wrap: wrap;
  box-shadow: 1px 1px 8px -2px #777777;
  border-radius: 0px;
}

.icon {
  margin-right: auto;
  color: var(--app-background);
  font-size: 40px !important;
  flex-basis: 100px;
}

.links {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  gap: 45px;
  margin: 20px;
}

.links a {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.2s;
  font-size: 20px;
}

.links a:hover {
  color: gray;
}

.links a .MuiSvgIcon-root {
  padding-right: 7px;
}

/* メディアクエリ */
@media screen and (max-width: 600px) {
  .links a {
      flex-basis: 100%;  
  }
}