.imageList {
  flex: 0.7;
  min-width: 600px !important;
}

.imageList::-webkit-scrollbar {
  display: none;
}

.imageListItem h2 {
  margin-left: 20px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 75%;
  min-width: 300px;
}

.postLink { 
  color: black !important;
  text-decoration: none !important;

}